<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.Medi-Friend"
        versionCode="10" 
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Medi-Friend</name>

    <description>
        An android app which provides a medium medium between blood donors and acceptors. 
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Team AUTOMATONS-IIC 
    </author>

</widget>

